ul.library_cards
  - unless @collection_valid_count > 0
    .courses_not_found_wrapper
      .courses_not_found
        .not_found_icon
        .not_found_text
          span Ни одной олимпиады не найдено
          span #{you_text('попробуйте', 'попробуй')} изменить параметры фильтрации
